div.CartBody {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
}

h1.CartTitleis {
    width: 80%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #3bb77e;
}
