.productMainArea {
    display: flex;
    height: 85vh;
    margin-bottom: 100px;
}

/* IMG SECTION */
div.productImgArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    padding: 10px;
    box-sizing: border-box;
}
div.productimgthumbnail {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
img.productImgAreaThumbnail {
    aspect-ratio: 9/8;
    object-fit: contain;
    height: 50vh;
    padding: 10px;
}
div.productImgAreaImgSliders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 20vw;
    gap: 0.59vw;
}

div.productImgAreaImgSliders > div.imgsliderdiv > img {
    aspect-ratio: 5/6;
    object-fit: cover;
    width: 9vw;
    border: 1px solid #ccc2c2;
    border-radius: 5px;
}


/* INFOGRAPH AREA */
div.productInfoArea {
    width: 40vw;
    /* border: 1px solid #ccc; */
    height: 85vh;
}

div.productTitleArea {
    border-bottom: 1px solid #ccc;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.titleAreaDescription > h2 {
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 1.4vw;
    overflow: hidden;
}

div.productRatingArea {
    display: flex;
}

div.productPriceArea {
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.productPriceArea > h2 {
    display: flex;
    font-size: 1.6vw;
}

div.productPriceArea > h2 > p{
    color: #ccc;
    font-size: 1.6vw;
}

div.productPriceArea > s{
    color: #666;
    font-weight: 500;
}

div.productPurchaseArea {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

div.productPurchaseArea > button {
    padding: 10px 20px;
    margin-right: 2vw;
    border-radius: 5px;
    border: none;
    width: 8vw;
    font-size: 1vw;
}

div.productPurchaseArea > button.productPurchasebtn {
    background-color: #45B586;
    color: #fff;
}
div.productPurchaseArea > button.productCartbtn {
    background-color: #ffbc41;
}
div.productPaymentArea {
    border-bottom: 1px solid #ccc;
    display: grid;
    gap: 1vw;
    padding: 0.5vw;
    grid-template-columns: repeat(3, 1fr);
}

div.productPaymentArea > * {
    border: 1px solid #888;
    border-radius: 10px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3vw;
    width: 12vw;
}

div.productPaymentArea > * > p{
    text-align: center;
}

div.productPaymentArea > * > h4{
    text-decoration: underline;
    height: 3vh;
}

/* ORDER SECTION */
div.productOrderArea {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #45B586;
    color: white;
    padding: 0.6vw;
}

.productOrderParts {
    padding: 0.5vw 0vw;
}
.productDetailsChild{
    padding: 0.1vw 0vw;
}

.productOrderParts > *{
    width: 100%;
}

.productNameAndDetails {
    border-bottom: 1px solid #ccc;
}

.productDetailsChild1 > span {
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

div.productDeliveryType {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5vw;
}

div.productPartnersandSellersDetails {
    padding: 0.5vw 0px;
    border-bottom: 1px solid #ccc;
}

div.OrderSectionButtons > button{
    padding: 0.5vw 0.5vw;
    margin-bottom: 1vw;
    border-radius: 5px;
    background-color: white;
    border: none;
}

button.OrderAddCart {
    color: #45B586;
}

button.OrderAddWish {
    color: salmon;
}



