* {
    box-sizing: border-box;
}

.mainGridBody {
    display: grid;
    width: calc(100%);
    max-width: calc(100%);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 30px;
    /* overflow-x: hidden; */
    /* padding: 20px; */
}

/* div.mainBodyGrid {
    width: 100vw;
    display: flex;
    justify-content: center;
} */