body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbarBody {
    background-color: white;
    color: black;
    display: flex;
    width: 100%;
    height: 35vh;
    flex-direction: column;
}

/* COMMONS */
.navlist {
    list-style: none;
    font-weight: 600;
    display: flex;
}

.navlist > li {
    padding: 0px 10px;
}

/* UPPER AREA */
.upperNavbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eceaea;
}

#Navlang {
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
}

/* LOWER AREA */
.lowerNavbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #eceaea ;
    border-top: 1px solid #eceaea ;
}

.lowLeftNavBrowse {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: white;
    padding: 15px 20px;
    margin-left: 20px;
    background-color: #3bb77e;
    border-radius: 10px;
    /* border: 3px solid #fdc040; */
}

.lowLeftNavBrowse > img{
    width: 5vh;
    padding-right: 10px;
}

.lowNavlist {
    display: flex;
    justify-content: space-between;
}

.lowNavlist > li {
    /* padding: 0px 20px; */
    margin: 0px 2vw;
    /* display: flex;
    align-items: center; */
    color: #3bb77e;
    font-size: 1.6vw;
    font-weight: 700;
}
div.lowNavlistDeals {
    display: flex;
    color: inherit;
    background-color: inherit;
    justify-content: center;
}

img.dealslogo {
    /* background-color: #3bb77e; */
    width: 15px;
    height: 15px;
    padding: 0px 10px;

}

div.lowrightNavCall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    color: #fdc040;
    font-size: 1.6rem;
}

.lowrightNavCall > img {
    width: 3.5vw;
    padding-right: 10px;
}

p.supportparagraph {
    color: #666;
    font-size: 0.8rem;
}

a.HomeLinkonHomeNav:link {
    color: #3bb77e;
    text-decoration: none;
}

a.HomeLinkonHomeNav:visited {
    color: #3bb77e;
    text-decoration: none;
}