.navlist {
    list-style: none;
    font-weight: 600;
    display: flex;
}

.navlist > li {
    padding: 0px 10px;
}

div.midNavbar {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: white;
}

.midNavLogo {
    height:5vw;
    padding: 0.5vh 0vw;
}

.midNavLogo > img {
    height: 80%;
    padding: 0.5vh 1vw;
}

div.midNavCity {
    display: flex;
    height: 100%;
    padding: 0px 2vw;
}

div.midNavCity > img{
    width: 30px;
}

div.midNavCity > select.city-select{
    font-size: larger;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
}

div.midNavSearch {
    border: 1px solid #d3c9c9;
    border-radius: 5px;
    width: 40vw;
    height: 7vh;
    display: flex;
    align-items: center;
}

div.category {
    margin-left: 5px;
    height: 99%;
    border-right: 1px solid #cec1c1;
}

div.category > .selectCategory {
    border: 1px solid white;
    padding: 5px;
    height: 100%;
    outline: none;
    cursor: pointer;
    appearance: none;
    outline: none;
    padding-right: 20px;
}

.searchInput {
    width: 70%;
    height: 90%;
    border: none;
    padding-left: 5%;
    outline: none;
}

.searchbtndiv {
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchbtn {
    width: 5vh;
}

.midNavUser {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img.userlogonav {
    width: 8vh;
    padding-left: 0px 20px;
}

.userlognavdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
