body {
    width: 100%;
    background-color: #333;
    box-sizing: border-box;
}

.RegisterBody {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid red;
}

.RegisterPageLogo {
    width: 100%;
    /* max-width: 300px; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.RegisterPageLogo img {
    width: 100%;
    max-width: 150px;
    object-fit: contain;
}

.registerFormDiv {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #444;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.RegisterHeadDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #3bc770;
}

.RegisterBodyDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.RegisterBodyDiv label {
    color: #3bc770;
    /* border: 1px solid red; */
}

.RegisterBodyDiv input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin: -15px 0px 0px 0px;
}

.RegisterBodyDiv .error {
    color: red;
    font-size: 0.875em;
}

button.registerFormBtn {
    background-color: #3bc770;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.navToLogin {
    margin-top: 20px;
    color: #ccc;
    text-align: center;
}

.navToLogin a {
    color: #e49b0a;
}
